@import 'variables.scss';

.calc-price {

  &__title {
    margin-bottom: 10px;

    @media (max-width: $mmd) {
      margin-bottom: 2px;
    }
  }

  &__price {
    font-weight: 900;
    font-size: 54px;
    line-height: 48px;
    color: $color-dark-grey;

    @media (max-width: $mmd) {
      font-size: 22px;
      line-height: 20px;
    }
  }
}