@font-face {
    font-family: 'Gilroy';
    src: local('Gilroy Regular'), local('Gilroy-Regular'),
        url('@/assets/fonts/Gilroy-Regular.woff2') format('woff2'),
        url('@/assets/fonts/Gilroy-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Nekst';
    src: local('Nekst Black'), local('Nekst-Black'),
        url('@/assets/fonts/Nekst-Black.woff2') format('woff2'),
        url('@/assets/fonts/Nekst-Black.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}